﻿/*! jQuery UI - v1.10.2 - 2013-04-08
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.resizable.css, jquery.ui.button.css, jquery.ui.dialog.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana%2CArial%2Csans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=%234B4D51&bgTextureHeader=highlight_soft&bgImgOpacityHeader=75&borderColorHeader=%234B4D55&fcHeader=%23222222&iconColorHeader=%23222222&bgColorContent=%23ffffff&bgTextureContent=flat&bgImgOpacityContent=75&borderColorContent=%23aaaaaa&fcContent=%23222222&iconColorContent=%23222222&bgColorDefault=%23e6e6e6&bgTextureDefault=glass&bgImgOpacityDefault=75&borderColorDefault=%23d3d3d3&fcDefault=%23555555&iconColorDefault=%23888888&bgColorHover=%23dadada&bgTextureHover=glass&bgImgOpacityHover=75&borderColorHover=%23999999&fcHover=%23212121&iconColorHover=%23454545&bgColorActive=%23ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=%23aaaaaa&fcActive=%23212121&iconColorActive=%23454545&bgColorHighlight=%23fbf9ee&bgTextureHighlight=glass&bgImgOpacityHighlight=55&borderColorHighlight=%23fcefa1&fcHighlight=%23363636&iconColorHighlight=%232e83ff&bgColorError=%23fef1ec&bgTextureError=glass&bgImgOpacityError=95&borderColorError=%23cd0a0a&fcError=%23cd0a0a&iconColorError=%23cd0a0a&bgColorOverlay=%23aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=%23aaaaaa&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
* Copyright 2013 jQuery Foundation and other contributors Licensed MIT */
.ui-helper-hidden {
    display: none;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}

.ui-helper-clearfix:after {
    clear: both;
}

.ui-helper-clearfix {
    min-height: 0;
}

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0);
}

.ui-front {
    z-index: 100;
}

.ui-state-disabled {
    cursor: default !important;
}

.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ui-resizable {
    position: relative;
}

.ui-resizable-handle {
    position: absolute;
    font-size: .1px;
    display: block;
}

.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
    display: none;
}

.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}

.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}

.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}

.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
}

.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}

.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}

.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}

.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}

.ui-button {
    display: inline-block;
    position: relative;
    padding: 0;
    line-height: normal;
    margin-right: .1em;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    overflow: visible;
}

    .ui-button, .ui-button:link, .ui-button:visited, .ui-button:hover, .ui-button:active {
        text-decoration: none;
    }

.ui-button-icon-only {
    width: 2.2em;
}

button.ui-button-icon-only {
    width: 2.4em;
}

.ui-button-icons-only {
    width: 3.4em;
}

button.ui-button-icons-only {
    width: 3.7em;
}

.ui-button .ui-button-text {
    display: block;
    line-height: normal;
}

.ui-button-text-only .ui-button-text {
    padding: .4em 1em;
}

.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
    padding: .4em;
    text-indent: -9999999px;
}

.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
    padding: .4em 1em .4em 2.1em;
}

.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text {
    padding: .4em 2.1em .4em 1em;
}

.ui-button-text-icons .ui-button-text {
    padding-left: 2.1em;
    padding-right: 2.1em;
}

input.ui-button {
    padding: .4em 1em;
}

.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
}

.ui-button-icon-only .ui-icon {
    left: 50%;
    margin-left: -8px;
}

.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary {
    left: .5em;
}

.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary {
    right: .5em;
}

.ui-buttonset {
    margin-right: 7px;
}

    .ui-buttonset .ui-button {
        margin-left: 0;
        margin-right: -.3em;
    }

input.ui-button::-moz-focus-inner, button.ui-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.ui-dialog {
    position: absolute;
    top: 0;
    left: 0;
    padding: .2em;
    outline: 0;
}

    .ui-dialog .ui-dialog-titlebar {
        padding: .4em 1em;
        position: relative;
    }

    .ui-dialog .ui-dialog-title {
        float: left;
        margin: .1em 0;
        white-space: nowrap;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        position: absolute;
        right: .3em;
        top: 50%;
        width: 21px;
        margin: -10px 0 0 0;
        padding: 1px;
        height: 20px;
    }

    .ui-dialog .ui-dialog-content {
        position: relative;
        border: 0;
        padding: .5em 1em;
        background: 0;
        overflow: auto;
    }

    .ui-dialog .ui-dialog-buttonpane {
        text-align: left;
        border-width: 1px 0 0;
        background-image: none;
        margin-top: .5em;
        padding: .3em 1em .5em .4em;
    }

        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
            float: right;
        }

        .ui-dialog .ui-dialog-buttonpane button {
            margin: .5em .4em .5em 0;
            cursor: pointer;
        }

    .ui-dialog .ui-resizable-se {
        width: 12px;
        height: 12px;
        right: -5px;
        bottom: -5px;
        background-position: 16px 16px;
    }

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}

.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}

    .ui-widget .ui-widget {
        font-size: 1em;
    }

    .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
        font-family: Verdana,Arial,sans-serif;
        font-size: 1em;
    }

.ui-widget-content {
    border: 1px solid #aaa;
    background: #fff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
    color: #222;
}

    .ui-widget-content a {
        color: #222;
    }

.ui-widget-header {
    border: 1px solid #4b4d55;
    background: #4b4d51 url(images/ui-bg_highlight-soft_75_4B4D51_1x100.png) 50% 50% repeat-x;
    color: #222;
    font-weight: bold;
}

    .ui-widget-header a {
        color: #222;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        border: 1px solid #d3d3d3;
        background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
        font-weight: normal;
        color: #555;
    }

        .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
            color: #555;
            text-decoration: none;
        }

    .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
        border: 1px solid #999;
        background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
        font-weight: normal;
        color: #212121;
    }

        .ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited {
            color: #212121;
            text-decoration: none;
        }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
        border: 1px solid #aaa;
        background: #fff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
        font-weight: normal;
        color: #212121;
    }

        .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
            color: #212121;
            text-decoration: none;
        }

    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        border: 1px solid #fcefa1;
        background: #fbf9ee url(images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
        color: #363636;
    }

        .ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
            color: #363636;
        }

    .ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
        border: 1px solid #cd0a0a;
        background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
        color: #cd0a0a;
    }

        .ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
            color: #cd0a0a;
        }

    .ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
        color: #cd0a0a;
    }

    .ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
        font-weight: bold;
    }

    .ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
        opacity: .7;
        filter: Alpha(Opacity=70);
        font-weight: normal;
    }

    .ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
        opacity: .35;
        filter: Alpha(Opacity=35);
        background-image: none;
    }

        .ui-state-disabled .ui-icon {
            filter: Alpha(Opacity=35);
        }

.ui-icon {
    width: 16px;
    height: 16px;
}

.ui-icon, .ui-widget-content .ui-icon {
    background-image: url(images/ui-icons_222222_256x240.png);
}

.ui-widget-header .ui-icon {
    background-image: url(images/ui-icons_222222_256x240.png);
}

.ui-state-default .ui-icon {
    background-image: url(images/ui-icons_888888_256x240.png);
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
    background-image: url(images/ui-icons_454545_256x240.png);
}

.ui-state-active .ui-icon {
    background-image: url(images/ui-icons_454545_256x240.png);
}

.ui-state-highlight .ui-icon {
    background-image: url(images/ui-icons_2e83ff_256x240.png);
}

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
    background-image: url(images/ui-icons_cd0a0a_256x240.png);
}

.ui-icon-blank {
    background-position: 16px 16px;
}

.ui-icon-carat-1-n {
    background-position: 0 0;
}

.ui-icon-carat-1-ne {
    background-position: -16px 0;
}

.ui-icon-carat-1-e {
    background-position: -32px 0;
}

.ui-icon-carat-1-se {
    background-position: -48px 0;
}

.ui-icon-carat-1-s {
    background-position: -64px 0;
}

.ui-icon-carat-1-sw {
    background-position: -80px 0;
}

.ui-icon-carat-1-w {
    background-position: -96px 0;
}

.ui-icon-carat-1-nw {
    background-position: -112px 0;
}

.ui-icon-carat-2-n-s {
    background-position: -128px 0;
}

.ui-icon-carat-2-e-w {
    background-position: -144px 0;
}

.ui-icon-triangle-1-n {
    background-position: 0 -16px;
}

.ui-icon-triangle-1-ne {
    background-position: -16px -16px;
}

.ui-icon-triangle-1-e {
    background-position: -32px -16px;
}

.ui-icon-triangle-1-se {
    background-position: -48px -16px;
}

.ui-icon-triangle-1-s {
    background-position: -64px -16px;
}

.ui-icon-triangle-1-sw {
    background-position: -80px -16px;
}

.ui-icon-triangle-1-w {
    background-position: -96px -16px;
}

.ui-icon-triangle-1-nw {
    background-position: -112px -16px;
}

.ui-icon-triangle-2-n-s {
    background-position: -128px -16px;
}

.ui-icon-triangle-2-e-w {
    background-position: -144px -16px;
}

.ui-icon-arrow-1-n {
    background-position: 0 -32px;
}

.ui-icon-arrow-1-ne {
    background-position: -16px -32px;
}

.ui-icon-arrow-1-e {
    background-position: -32px -32px;
}

.ui-icon-arrow-1-se {
    background-position: -48px -32px;
}

.ui-icon-arrow-1-s {
    background-position: -64px -32px;
}

.ui-icon-arrow-1-sw {
    background-position: -80px -32px;
}

.ui-icon-arrow-1-w {
    background-position: -96px -32px;
}

.ui-icon-arrow-1-nw {
    background-position: -112px -32px;
}

.ui-icon-arrow-2-n-s {
    background-position: -128px -32px;
}

.ui-icon-arrow-2-ne-sw {
    background-position: -144px -32px;
}

.ui-icon-arrow-2-e-w {
    background-position: -160px -32px;
}

.ui-icon-arrow-2-se-nw {
    background-position: -176px -32px;
}

.ui-icon-arrowstop-1-n {
    background-position: -192px -32px;
}

.ui-icon-arrowstop-1-e {
    background-position: -208px -32px;
}

.ui-icon-arrowstop-1-s {
    background-position: -224px -32px;
}

.ui-icon-arrowstop-1-w {
    background-position: -240px -32px;
}

.ui-icon-arrowthick-1-n {
    background-position: 0 -48px;
}

.ui-icon-arrowthick-1-ne {
    background-position: -16px -48px;
}

.ui-icon-arrowthick-1-e {
    background-position: -32px -48px;
}

.ui-icon-arrowthick-1-se {
    background-position: -48px -48px;
}

.ui-icon-arrowthick-1-s {
    background-position: -64px -48px;
}

.ui-icon-arrowthick-1-sw {
    background-position: -80px -48px;
}

.ui-icon-arrowthick-1-w {
    background-position: -96px -48px;
}

.ui-icon-arrowthick-1-nw {
    background-position: -112px -48px;
}

.ui-icon-arrowthick-2-n-s {
    background-position: -128px -48px;
}

.ui-icon-arrowthick-2-ne-sw {
    background-position: -144px -48px;
}

.ui-icon-arrowthick-2-e-w {
    background-position: -160px -48px;
}

.ui-icon-arrowthick-2-se-nw {
    background-position: -176px -48px;
}

.ui-icon-arrowthickstop-1-n {
    background-position: -192px -48px;
}

.ui-icon-arrowthickstop-1-e {
    background-position: -208px -48px;
}

.ui-icon-arrowthickstop-1-s {
    background-position: -224px -48px;
}

.ui-icon-arrowthickstop-1-w {
    background-position: -240px -48px;
}

.ui-icon-arrowreturnthick-1-w {
    background-position: 0 -64px;
}

.ui-icon-arrowreturnthick-1-n {
    background-position: -16px -64px;
}

.ui-icon-arrowreturnthick-1-e {
    background-position: -32px -64px;
}

.ui-icon-arrowreturnthick-1-s {
    background-position: -48px -64px;
}

.ui-icon-arrowreturn-1-w {
    background-position: -64px -64px;
}

.ui-icon-arrowreturn-1-n {
    background-position: -80px -64px;
}

.ui-icon-arrowreturn-1-e {
    background-position: -96px -64px;
}

.ui-icon-arrowreturn-1-s {
    background-position: -112px -64px;
}

.ui-icon-arrowrefresh-1-w {
    background-position: -128px -64px;
}

.ui-icon-arrowrefresh-1-n {
    background-position: -144px -64px;
}

.ui-icon-arrowrefresh-1-e {
    background-position: -160px -64px;
}

.ui-icon-arrowrefresh-1-s {
    background-position: -176px -64px;
}

.ui-icon-arrow-4 {
    background-position: 0 -80px;
}

.ui-icon-arrow-4-diag {
    background-position: -16px -80px;
}

.ui-icon-extlink {
    background-position: -32px -80px;
}

.ui-icon-newwin {
    background-position: -48px -80px;
}

.ui-icon-refresh {
    background-position: -64px -80px;
}

.ui-icon-shuffle {
    background-position: -80px -80px;
}

.ui-icon-transfer-e-w {
    background-position: -96px -80px;
}

.ui-icon-transferthick-e-w {
    background-position: -112px -80px;
}

.ui-icon-folder-collapsed {
    background-position: 0 -96px;
}

.ui-icon-folder-open {
    background-position: -16px -96px;
}

.ui-icon-document {
    background-position: -32px -96px;
}

.ui-icon-document-b {
    background-position: -48px -96px;
}

.ui-icon-note {
    background-position: -64px -96px;
}

.ui-icon-mail-closed {
    background-position: -80px -96px;
}

.ui-icon-mail-open {
    background-position: -96px -96px;
}

.ui-icon-suitcase {
    background-position: -112px -96px;
}

.ui-icon-comment {
    background-position: -128px -96px;
}

.ui-icon-person {
    background-position: -144px -96px;
}

.ui-icon-print {
    background-position: -160px -96px;
}

.ui-icon-trash {
    background-position: -176px -96px;
}

.ui-icon-locked {
    background-position: -192px -96px;
}

.ui-icon-unlocked {
    background-position: -208px -96px;
}

.ui-icon-bookmark {
    background-position: -224px -96px;
}

.ui-icon-tag {
    background-position: -240px -96px;
}

.ui-icon-home {
    background-position: 0 -112px;
}

.ui-icon-flag {
    background-position: -16px -112px;
}

.ui-icon-calendar {
    background-position: -32px -112px;
}

.ui-icon-cart {
    background-position: -48px -112px;
}

.ui-icon-pencil {
    background-position: -64px -112px;
}

.ui-icon-clock {
    background-position: -80px -112px;
}

.ui-icon-disk {
    background-position: -96px -112px;
}

.ui-icon-calculator {
    background-position: -112px -112px;
}

.ui-icon-zoomin {
    background-position: -128px -112px;
}

.ui-icon-zoomout {
    background-position: -144px -112px;
}

.ui-icon-search {
    background-position: -160px -112px;
}

.ui-icon-wrench {
    background-position: -176px -112px;
}

.ui-icon-gear {
    background-position: -192px -112px;
}

.ui-icon-heart {
    background-position: -208px -112px;
}

.ui-icon-star {
    background-position: -224px -112px;
}

.ui-icon-link {
    background-position: -240px -112px;
}

.ui-icon-cancel {
    background-position: 0 -128px;
}

.ui-icon-plus {
    background-position: -16px -128px;
}

.ui-icon-plusthick {
    background-position: -32px -128px;
}

.ui-icon-minus {
    background-position: -48px -128px;
}

.ui-icon-minusthick {
    background-position: -64px -128px;
}

.ui-icon-close {
    background-position: -80px -128px;
}

.ui-icon-closethick {
    background-position: -96px -128px;
}

.ui-icon-key {
    background-position: -112px -128px;
}

.ui-icon-lightbulb {
    background-position: -128px -128px;
}

.ui-icon-scissors {
    background-position: -144px -128px;
}

.ui-icon-clipboard {
    background-position: -160px -128px;
}

.ui-icon-copy {
    background-position: -176px -128px;
}

.ui-icon-contact {
    background-position: -192px -128px;
}

.ui-icon-image {
    background-position: -208px -128px;
}

.ui-icon-video {
    background-position: -224px -128px;
}

.ui-icon-script {
    background-position: -240px -128px;
}

.ui-icon-alert {
    background-position: 0 -144px;
}

.ui-icon-info {
    background-position: -16px -144px;
}

.ui-icon-notice {
    background-position: -32px -144px;
}

.ui-icon-help {
    background-position: -48px -144px;
}

.ui-icon-check {
    background-position: -64px -144px;
}

.ui-icon-bullet {
    background-position: -80px -144px;
}

.ui-icon-radio-on {
    background-position: -96px -144px;
}

.ui-icon-radio-off {
    background-position: -112px -144px;
}

.ui-icon-pin-w {
    background-position: -128px -144px;
}

.ui-icon-pin-s {
    background-position: -144px -144px;
}

.ui-icon-play {
    background-position: 0 -160px;
}

.ui-icon-pause {
    background-position: -16px -160px;
}

.ui-icon-seek-next {
    background-position: -32px -160px;
}

.ui-icon-seek-prev {
    background-position: -48px -160px;
}

.ui-icon-seek-end {
    background-position: -64px -160px;
}

.ui-icon-seek-start {
    background-position: -80px -160px;
}

.ui-icon-seek-first {
    background-position: -80px -160px;
}

.ui-icon-stop {
    background-position: -96px -160px;
}

.ui-icon-eject {
    background-position: -112px -160px;
}

.ui-icon-volume-off {
    background-position: -128px -160px;
}

.ui-icon-volume-on {
    background-position: -144px -160px;
}

.ui-icon-power {
    background-position: 0 -176px;
}

.ui-icon-signal-diag {
    background-position: -16px -176px;
}

.ui-icon-signal {
    background-position: -32px -176px;
}

.ui-icon-battery-0 {
    background-position: -48px -176px;
}

.ui-icon-battery-1 {
    background-position: -64px -176px;
}

.ui-icon-battery-2 {
    background-position: -80px -176px;
}

.ui-icon-battery-3 {
    background-position: -96px -176px;
}

.ui-icon-circle-plus {
    background-position: 0 -192px;
}

.ui-icon-circle-minus {
    background-position: -16px -192px;
}

.ui-icon-circle-close {
    background-position: -32px -192px;
}

.ui-icon-circle-triangle-e {
    background-position: -48px -192px;
}

.ui-icon-circle-triangle-s {
    background-position: -64px -192px;
}

.ui-icon-circle-triangle-w {
    background-position: -80px -192px;
}

.ui-icon-circle-triangle-n {
    background-position: -96px -192px;
}

.ui-icon-circle-arrow-e {
    background-position: -112px -192px;
}

.ui-icon-circle-arrow-s {
    background-position: -128px -192px;
}

.ui-icon-circle-arrow-w {
    background-position: -144px -192px;
}

.ui-icon-circle-arrow-n {
    background-position: -160px -192px;
}

.ui-icon-circle-zoomin {
    background-position: -176px -192px;
}

.ui-icon-circle-zoomout {
    background-position: -192px -192px;
}

.ui-icon-circle-check {
    background-position: -208px -192px;
}

.ui-icon-circlesmall-plus {
    background-position: 0 -208px;
}

.ui-icon-circlesmall-minus {
    background-position: -16px -208px;
}

.ui-icon-circlesmall-close {
    background-position: -32px -208px;
}

.ui-icon-squaresmall-plus {
    background-position: -48px -208px;
}

.ui-icon-squaresmall-minus {
    background-position: -64px -208px;
}

.ui-icon-squaresmall-close {
    background-position: -80px -208px;
}

.ui-icon-grip-dotted-vertical {
    background-position: 0 -224px;
}

.ui-icon-grip-dotted-horizontal {
    background-position: -16px -224px;
}

.ui-icon-grip-solid-vertical {
    background-position: -32px -224px;
}

.ui-icon-grip-solid-horizontal {
    background-position: -48px -224px;
}

.ui-icon-gripsmall-diagonal-se {
    background-position: -64px -224px;
}

.ui-icon-grip-diagonal-se {
    background-position: -80px -224px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 4px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 4px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 4px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 4px;
}

.ui-widget-overlay {
    background: #aaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .3;
    filter: Alpha(Opacity=30);
}

.ui-widget-shadow {
    margin: -8px 0 0 -8px;
    padding: 8px;
    background: #aaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .3;
    filter: Alpha(Opacity=30);
    border-radius: 8px;
}

/**********************CUSTOM CSS**************************************/
@font-face {
    font-family: 'Droid Sans';
    src: url('../shop/fonts/DroidSans.eot'); /* IE 5-8 */
    src: local(''), /* sneakily trick IE */
    url('../../../shop/fonts/DroidSans.woff') format('woff'), /* FF 3.6, Chrome 5, IE9 */
    url('../../../shop/fonts/DroidSans.ttf') format('truetype'), /* Opera, Safari */
    url('../../../shop/fonts/DroidSans.svg#font') format('svg'); /* iOS */
}

body, table td, select, input, textarea, span, a span, li a span, keygen, select, button, input[type="text"], li, ul, a, a:visited, a:hover, div, table td div {
    font-family: 'Droid Sans', sans-serif !important;
}

table.dataTable {
    clear: both;
    width: 100%;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0;
}

    table.dataTable thead {
        color: #ffffff;
        width: 100%;
    }

        table.dataTable thead tr {
            height: 30px;
        }


        table.dataTable thead th {
            font-size: 13px;
            font-weight: normal;
            white-space: nowrap;
            background: none repeat scroll 0 0 #999999 !important;
            padding: 4px 6px;
            text-align: left;
        }

    table.dataTable tbody {
        white-space: pre;
        color: #717171;
    }

table.fixedLenthFont.dataTable tbody tr td, table.fixedLenthFont.dataTable tbody tr td span {
    font-family: 'monospace', monospace !important;
}

/*.importTable tr.even{
    background-color:whitesmoke;
}*/
table.dataTable tr td {
    padding: 7px 7px;
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
}

table.dataTable td.center,
table.dataTable td.dataTables_empty {
    text-align: center;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
    *zoom: 1;
}

.dataTables_length {
    float: left;
}

.dataTables_filter {
    float: right;
    text-align: right;
}

.dataTables_info {
    clear: both;
    float: left;
}

.dataTables_paginate {
    float: right;
    text-align: right;
}

.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 30px;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px 0;
    border: 1px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 14px;
    background-color: white;
}

.dataTables_scroll {
    clear: both;
}

.dataTables_scrollBody {
    *margin-top: -1px;
    -webkit-overflow-scrolling: touch;
}

.header {
    height: 152px;
    padding: 5px 10px;
    background-color: #EAEAEA;
}

.dataTables_filter {
    display: none;
}

@media screen and (max-width: 1180px) {
    .header {
        height: 140px;
    }
}

.ui-widget-overlay {
    opacity: 0.13 !important;
}

.center-text {
    text-align: center;
}

.loaderBG {
    background-color: #000;
    opacity: .3;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.divLoader {
    display: inline-block;
    vertical-align: top;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    /*width: 65px;*/
    width: auto;
}

.btn-group-sm > .btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-back {
    background-color: #eaeaea;
    border-color: #8c8b8b;
}

.btn-primary {
    color: #fff;
    background-color: #2b2b2b;
    border-color: #2b2b2b;
}

.square-box {
    width: 20px;
    height: 20px;
    overflow: hidden;
    background: #47D920;
    color: #fff;
    display: inline-block;
    line-height: 20px;
}

.st-zero {
    background: #E30000;
}

.btn-warning {
    color: #fff;
    background-color: #E8791C;
    border-color: #c75d05;
    margin-left: 4px;
}

.input-group {
    position: relative;
    display: inline-table;
    border-collapse: separate;
}


.form-control {
    /*display: block;*/
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    width: 160px;
    margin: 0px 6px;
}

.file-caption-name {
    display: inline-block;
    overflow: hidden;
    height: 20px;
    word-break: break-all;
    color: gray;
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    width: 265px;
}

.btn-file {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        text-align: right;
        opacity: 0;
        background: 0 0;
        cursor: inherit;
        display: block;
    }


.form-control.file-caption {
    height: 16px;
    float: left;
    margin: 0px;
}

.btn .caret {
    margin-left: 0;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

select.form-control {
    height: 26px;
    padding: 3px 3px;
}

    select.form-control.dropdown {
        min-width: 120px;
        padding: 0px;
        font-size: 12px;
        height: 20px;
    }

.separator, .headerRow, .lastRow, .drpProfile {
    width: initial !important;
    height: 31px !important;
    display: inline;
    min-width: 132px;
}

.drpProfile {
    width: 179px !important;
}

.checkbox {
    margin-right: 5px;
}

.range {
    height: 16px !important;
    width: 107px !important;
    display: inline;
    margin-right: 5px;
}

.txtMatch {
    display: inline-block;
    height: 16px !important;
    width: 160px !important;
    margin-right: 5px;
}

.hide {
    display: none !important;
}

.divTable {
    overflow-x: scroll;
    margin-top: 10px;
}

.pageloader {
    position: absolute;
    left: 45%;
    top: 50%;
    z-index: 20;
    background: #e8791c none repeat scroll 0 0;
    border-radius: 1px;
    color: #fff;
    font-size: 12px;
    padding: 5px 7px;
    position: fixed;
    z-index: 100000;
}

.headerdiv {
    height: 36px;
    width: 100%;
    background: url("http://beta.eurocircuits.com/shop/images/header.png") repeat-x scroll center top transparent;
    color: #ffffff;
    display: inline-block;
}

.headerdiv-inright {
    width: 70%;
    color: #FFF;
    font-size: 11px;
    padding: 6px 15px 0 0;
}

.fr {
    float: right;
    padding-bottom: 4px;
}


.txtTitle {
    display: inline-block;
    font-size: 13px;
}

.radio, .chk {
    margin-left: 0px;
    cursor: pointer;
    font-size: 13px;
}

.txtProfile, .txtOther {
    padding: 4px;
    height: 21px;
    display: inline-block;
    margin: 0px 5px;
}

.fwseparater {
    color: red;
}

.SpanIndex {
    margin: 0px;
}

.txtProfile {
    width: 286px;
}

.txtOther {
    width: 45px !important;
}

.txtNumberOffC {
    width: 45px !important;
    padding: 4px;
    height: 21px;
    display: inline-block;
    margin: 0px 5px;
}

.txtNumberOffC1 {
    width: 45px !important;
    padding: 4px;
    height: 21px;
    display: inline-block;
    margin: 0px 5px;
}

#spnDeleteFrofile {
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
    width: 11px;
    margin: -1px 0px;
}

.ig-block {
    display: block;
}

.title {
    margin: 6px 0px 6px 0px;
}

/*.messageInfo {
  height: 18px;
  margin-left: 1px;
}*/

.message {
    font-size: 12px;
    margin-bottom: 5px;
}

.messageInfo .message p {
    margin: 5px 0px;
}

.success {
    color: green;
}

.error {
    color: red;
}

.importTable {
    overflow: scroll;
}

.cell-stock {
    font-size: 14px !important;
}

.importTable.dataTable td {
    font-size: 13px;
}

.selectedHeader {
    background-color: #F3D193 !important;
    color: #000000;
}

.selectedRow {
    background-color: #f2f2f2;
    color: #000000;
}

.tr-css {
    background-color: #ffffff;
    color: #717171;
}

.bold {
    font-weight: bold;
}

.singleLine {
    margin: 10px 0 15px;
}

.step1 .singleLine {
    margin-bottom: 10px;
}

.step3 .singleLine {
    margin-bottom: 9px;
}

.singleLine-tab {
    margin-bottom: 23px;
}


.delimiter {
    margin: 0px 20px 0px 0px;
}

.browse {
    margin-right: 10px;
}

/*.btnNext, .btnBack, .export ,.getpricedetails{
  float: right;
}*/
.addcomponent {
    width: 125px;
}

.btnNext, .export, .getpricedetails {
    margin-right: 15px;
}

.tooltipIcon img {
    width: 16px;
}

.info {
    background-color: #F7DDB4;
    padding: 4px;
    border-radius: 5px;
    font-size: 13px;
}

.unselected {
    display: none !important;
}

.arrow_box {
    width: 200px;
    font-size: 12px;
    padding: 7px;
    display: none;
    z-index: 100;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-size: 12px !important;
}

.arrow_box .option div {
    display: inline-block;
    margin: 2px 3px;
}

.mpnColumn {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.mnnColumn {
    float: right;
    color: #2a9d00;
    font-style: italic;
    cursor: pointer;
    width: 9px;
    margin-top: 2px;
}

.mapHeader {
    font-size: 14px;
    margin: 0px 0px 3px 0px;
    font-weight: bold;
}

.mapValueBlock, .mapValueBlock select {
    width: 195px;
}

.arrow_box .option .mapTitle {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.arrow_box .option .mapValue {
    width: 75px;
}

.arrow_box .option select {
    width: inherit;
}

.arrow_box {
    position: absolute;
    background: #fff;
    border: solid 2px #2E2E2E;
    background: url('http://beta.eurocircuits.com/shop/images/master-bg.jpg') repeat;
    border-radius: 5px;
}

    .arrow_box:after, .arrow_box:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .arrow_box:after {
        border-color: rgba(255, 255, 255, 0);
        border-top-color: #fff;
        border-width: 8px;
        margin-left: -8px;
    }

    .arrow_box:before {
        border-color: rgba(213, 213, 213, 0);
        border-top-color: #2E2E2E;
        border-width: 11px;
        margin-left: -11px;
    }

#aDownloadFile {
    display: none;
    float: right;
    font-size: 13px;
    color: #2a9d00;
    font-style: italic;
    cursor: pointer;
}

.incorectData {
    background-color: #F37979;
    /*display: inline-grid;*/
}

.incorrectDataLink {
    float: right;
    width: 14px;
    margin-top: 2px;
    cursor: pointer;
}

.txtColValue {
    height: 11px;
    margin: -3px -6px;
}

.center {
    text-align: center;
}

.iblock {
    vertical-align: top;
    display: table-cell;
    padding: 0px 4px;
}

.distinctOption {
    max-height: 92px;
    overflow-y: auto;
}

.offers {
    margin: 10px;
}

.productHeader {
    padding: 14px 0px 4px 0px;
    font-size: 14px;
}

.datasheet img {
    width: 14px;
}

.datasheet {
    padding: 0px 11px 0px 0px;
    margin-left: 20px;
}

    .datasheet a {
        text-decoration: none;
        color: #000;
        margin-left: 1px;
    }

.mpnMessage {
    padding: 15px 10px 15px 10px;
    text-align: left;
    font-size: 15px;
    background-color: #242424;
    color: #fff;
}


.productHeader .brand {
    font-size: 16px;
    margin-bottom: 5px;
}

.productHeader .mpn {
    font-size: 18px;
    font-weight: bold;
}


.octoProduct {
    width: 98.5%;
    margin: 10px;
}

.productTable, .priceTable {
    border-collapse: collapse;
}

    .productTable td {
        padding-top: 7px !important;
        padding-bottom: 7px !important;
    }

    .productTable.dataTable thead th {
        padding: 3px;
        font-weight: normal;
    }

    .productTable td {
        font-size: 13px;
        color: #000 !important;
    }

    .productTable tr td:first-child {
        text-align: left !important;
    }

.priceTable {
    float: right;
    margin: 10px 0px;
}

    .priceTable tbody tr {
        background-color: #bbe5b5 !important;
    }

.priceTr {
    background-color: transparent !important;
}


.priceTable th {
    background-color: #EAEAEA;
    color: #000;
    font-weight: bold !important;
    text-align: right;
}

.priceTable td {
    text-align: right;
    padding: 3px 3px 3px 16px !important;
}

/*.oddTr {
    background-color: whitesmoke !important;
}

.evenTr {
    background-color: white !important;
}*/

.productTable .col-currency {
    font-size: 10px;
}

.alink {
    color: #2a9f00;
    cursor: pointer;
    text-decoration: none;
    font-size:12px;
    padding-left:5px;
}

.col-seller-flag {
    padding: 4px 25px !important;
}

.col-seller {
    width: 250px;
}

.col-leadtime, .col-stock, .col-moq {
    width: 100px;
}

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

.col-packaging {
    width: 100px;
}

.col-prices {
    width: 50px;
    text-align: left;
}


.col-currency {
    width: 50px;
    text-align: right;
}

.col-buy-now {
    width: 55px;
    text-align: center;
    font-variant: normal;
}

.productTable td.highlight {
    font-weight: bold;
}

.res-cell {
    text-align: center;
}

.md-header {
    position: relative;
}

.step-footer {
    position: absolute;
    bottom: 0;
}


#bomTable tbody td.cellEditing {
    padding: 0;
}

    #bomTable tbody td.cellEditing input[type=text] {
        width: 100%;
        height: 100%;
        border: 0;
        background-color: rgb(255,253,210);
    }

.lp-body {
    position: absolute;
    padding: 10px;
    overflow: hidden;
    width: 100%;
    height: 90%;
}

.bom-body {
    position: absolute;
    overflow: hidden;
    width: 99%;
    height: 95%;
}

.btnbig {
    /*width:115px;*/
    width: auto;
}

.importTable select option {
    font-size: 13px;
}

.drpMapped {
    background-color: #2E8DEF;
    color: #000;
}


.importTable select .opt-map {
    background-color: #2E8DEF;
    color: #ffffff;
}

.img-edit {
    position: relative;
    float: right;
    /*margin-top: -17px;*/
}

.tr-remove {
    display: none !important;
}

.divBlockLoading {
    width: 100%;
    top: 8px;
    right: 5px;
    margin-left: -9px;
    margin-right: 5px;
    padding: 36px 0 5px 8px;
    position: fixed;
    z-index: 10000;
    background-color: white;
    opacity: 0.5;
    display: none;
    height: 120px;
}

.bom_btnuploaddata, .bom_btnnext, .bom_btntextedit, .bom_btndelete,.bom_adddata,.bom_back,.bom_submit,.bom_cancel,.bom_reload,.bom_save {
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 5px;
    padding-left: 24px;
}

.bom_btnuploaddata {
    background-image: url('upload.png');
}

.bom_btnnext {
    background-image: url('next.png');
}
.bom_btntextedit {
    background-image: url('textedit.png');
}
.bom_btndelete {
    background-image: url('delete.png');
}
.bom_adddata {
    background-image: url('adddata.png');
}
.bom_back {
    background-image: url('back.png');
}
.bom_submit {
    background-image: url('submit.png');
}
.bom_cancel {
    background-image: url('cancel.png');
}
.bom_reload {
    background-image: url('reload.png');
}
.bom_save {
    background-image: url('save.png');
}


