﻿

        .price-lable {
            color: #a6a6a6;
            font-weight: 500;
        }

        .part-link {
            color: #333;
            cursor: pointer;
        }

        .unidentified-parts {
            color: rgb(183, 59, 59) !important;
            cursor: pointer;
        }

        .list-title {
            margin-top: 3px;
        }

        .list-name {
            color: #2a9d00;
        }
        .color-red {
            color:red!important;
        }
        .btn-primary {
            color: #fff;
            background-color: #f26622;
            border-color: #f26622;
            margin-top: 5px;
            border-radius: 2px;
        }

        .alternatives {
            cursor: pointer;
            color: #479347;
        }

            .alternatives:hover {
                cursor: pointer;
                color: #479347;
            }

        .btn-primary:hover {
            color: #fff;
            background-color: #479347;
            border-color: #479347;
        }

        .btn-primary:visited {
            color: #fff;
            background-color: #479347;
            border-color: #479347;
        }

        .btn-primary:focus {
            color: #fff;
            background-color: #479347;
            border-color: #479347;
        }

        .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
            color: #fff;
            background-color: #479347;
            border-color: #479347;
        }

        .price-container {
            position: relative;
            background: #F0F0F0;
            /*box-shadow: inset -7px 0 0 #2a9d00;*/
            overflow: hidden;
        }

            .price-container.horiz {
                width: 100%;
                height: 100%;
                min-height: 148px;
            }

        #alternativeParts {
            width: 100%;
            margin-top: 20px;
        }

        .price-container h1 {
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            margin: 0;
            height: 100%;
            color: #bbb;
            padding: 15px 20px;
            font-size: 16px;
            background: rgba(255, 255, 255, 0.3);
            -webkit-transition: -webkit-transform 500ms, color 500ms, background-color 500ms;
        }

            .price-container h1 small {
                display: block;
                font-size: 0.8em;
                font-weight: normal;
            }

        .further-info {
            color: #2a9d00;
        }

        .price-tital {
            border-bottom: solid 1px #DADADB;
            margin: 10px;
            color: #333;
            font-weight: 800;
            padding-top: 10px;
        }

        .price-total {
            border-top: solid 1px #DADADB;
            font-weight: 800;
            color: #4C4D52;
        }

        .price-container table {
            line-height: 20px;
            margin-left: 10px;
            width: 90%;
        }

        .price-container tr:nth-child(even) {
            background-color: rgba(255, 255, 255, 0);
        }

        .price-container .further-info {
            left: 0;
            right: 0;
            top: 100%;
            background: rgba(0, 0, 0, 0.3);
            -webkit-transition: -webkit-transform 500ms;
        }

        .widget-chart {
            margin-top: 60px;
        }

        .altsearch {
            border-radius: 3px;
            border: 1px solid;
            border-color: #ccc;
            border-radius: 4px;
            border-style: solid;
            border-width: 1px;
            box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
            color: #555;
            float: none;
            padding: 6px 12px;
            width:100%;
        }
  
#container {
    width: 160px;
    height: 36px;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

.inner-container {
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: .2em;
}

    .inner-container:first-child {
        background: #e9e9e9;
        color: #a9a9a9;
    }

    .inner-container:nth-child(2) {
        background: #2a9f00;
        color: white;
        clip-path: inset(0 50% 0 0);
        transition: .3s cubic-bezier(0,0,0,1);
    }

.toggle {
    width: 50%;
    position: absolute;
    height: inherit;
    display: flex;
    box-sizing: border-box;
}

    .toggle pset {
        margin: auto;
        /*font-size: 10px;*/
    }

    .toggle:nth-child(1) {
        right: 0;
    }
