﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="splasm.aspx.cs" Inherits="sparrowFeApp.shop.rb.splasm" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div style="width:500px; height:500px;text-align:center;font-size:20px;margin-left:auto;margin-right:auto;margin-top:30px;">
            <div>
                <span>This functionality is not available yet.</span>
            </div>
        </div>
    </form>
</body>
</html>
