﻿
@font-face {
    font-family: 'Droid Sans';
    src: url('../shop/fonts/DroidSans.eot'); /* IE 5-8 */
    src: local(''), /* sneakily trick IE */
    url('../shop/fonts/DroidSans.woff') format('woff'), /* FF 3.6, Chrome 5, IE9 */
    url('../shop/fonts/DroidSans.ttf') format('truetype'), /* Opera, Safari */
    url('../shop/fonts/DroidSans.svg#font') format('svg'); /* iOS */
}

body, table td, select, input, textarea, span, a span, li a span, keygen, select, button, input[type="text"], li, ul, a, a:visited, a:hover, div, table td div {
    font-family: 'Droid Sans', sans-serif !important;
}

.ECPriceOptionLabel, .ECPriceOptionValue, .ECPriceOptionSmallLabel, .ECConfiguratorLegalMessageLabel {
    font-size: 12px !important;
}

#clientContainer {
    margin-top: 39px !important;
}
