﻿
body{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size:12px;	
}
.msgtop
{
	float:left;background-color:#FFF2BC;font-weight:bold;font-size:12px;padding:3px;padding-left:10px;padding-right:10px;
	text-decoration: blink;
	margin-left:4px;
}
.calcmsgtop
{
	float:left;background-color:#FFF2BC;font-weight:bold;font-size:12px;padding:3px;
	text-decoration: blink;
	margin-left:20px;
	margin-top :12px;
}
.ppinfo
{
    background-color:#F7F7F7;padding:3px;border:solid 1px silver;
    
}
.cp_button
{
	background-color:silver;
	background-image:url('../Images/grip.gif');
}
#pnlLeft
{
	background-color:White;
	background-image:url('../images/leftbg.jpg');
}
th
{
	background-color: #2A9F00;
	background-image: url(../images/bottom_footer.gif);	
	color:White;
}
.NormalText
{
    font-size: 11px;    
    background-color: #FFFFFF;    
    border:1px solid #878787;    
    width: 150px;
}

.ResxNormalText
{
    font-size: 11px;    
    background-color: #FFFFFF;    
    border:1px solid #878787;    
    width: 825px;
}

.ResxRefNormalText
{
    font-size: 11px;    
    background-color: #EAEAEA;    
    border:1px solid #878787;    
    width: 825px;
}

.Label
{
  font-size: 11px;
	/* margin-left: 86px; */
}

.FileUpload
{
	font-size: 11px;	
}

.TextArea
{
    font-size: 11px;    
    background-color: #FFFFFF;    
    border:1px solid #878787;    
    width: 250px;
}
.ParameterTextArea
{
    font-size: 11px;    
    background-color: #FFFFFF;    
    border:1px solid #878787;    
    width: 500px;
    height:150px;
}
/*
#pnlContent a 
{
	margin-left:3px;
	margin-right:3px;
	background-image:url(../images/grip.gif);
	padding-top:4px;
	padding-bottom:5px;
	padding-left:8px;
	padding-right:8px;
	text-decoration:none;
	font-size:11px;
	font-family:Arial;
	color:#000000;	
}
#pnlContent a:hover 
{
   color:Maroon;	
}

*/
input[type='text']
{
	BORDER-RIGHT: silver 1px solid; 
	BORDER-TOP: silver 1px solid; 
	FONT-SIZE: 11px; 
	BORDER-LEFT: silver 1px solid; 
	/*COLOR: #000000;*/ 
	BORDER-BOTTOM: silver 1px solid; 
	TEXT-DECORATION: none;
	height:20px;
	vertical-align:middle;
	
}

 .ddlclass
        {
	        BORDER-RIGHT: silver 1px solid; 
			BORDER-TOP: silver 1px solid; 
			FONT-SIZE: 11px; 
			BORDER-LEFT: silver 1px solid; 
			COLOR: #000000; 
			BORDER-BOTTOM: silver 1px solid; 
			TEXT-DECORATION: none;
			height:20px;
			vertical-align:middle;
			width:151px;
        }

.loadingMessageContainer
        {
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            padding-top: 30%;
        }
        .loadingMessage
        {
            display: inline;
            font-size: 130%;
            font-weight: bold;
            color: red;
        }
       
/*
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #009900;

a:active {
	text-decoration: none;
} 

.link_top {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
} */

.logoback
{
	background-color: #185800;
	background-repeat: repeat-x;
	background-position: left top;
	background-image: url(../images/back_top11.gif);
}
.logobackVertical
{
	/*background-color: #2A9F00;*/
	background-repeat: repeat-y;
	background-position: left top;
	background-image: url(../images/back_top1.gif);
}
.control_link
{
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	line-height: 18px;
}
.controllink
{
	text-decoration: none;
}
.controllinkunderline
{
	text-decoration: undeline;
}
.control_link:hover
{
	font-size: 11px;
	color: #289800;
	text-decoration: none;
}


.iconline
{
	font-size: 20px;
	color: #CCCCCC;
}
.search_box
{
	border: 1px solid #999999;
}
.table_header
{
	font-size: 13px;
	font-weight: bold;
	color: #592D00;
	background-color: #F0F2D7;
}
.table_line_right_bottom
{
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	font-size: 12px;
}
.maintable
{
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
}
.footer
{
	font-size: 11px;
	color: #FFFFFF;
	background-color: #2A9F00;
	background-image: url(../images/bottom_footer.gif);
	background-repeat: repeat-x;
}
.footer_text
{
	font-size: 11px;
	color: #FFFFFF;
}


.tabbackground
{
	background-color: #185800; /*#154D00;*/
}
.tob_back_right
{
	/*background-image: url(../images/top_right_back.gif);*/
	background-repeat: no-repeat;
	background-position: right;
}
.toplink
{
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
.toplink:hover
{
	font-size: 12px;
	color: #44FF00;
	text-decoration: none;
}

.text
{
	font-size: 12px;
}
.leftmenu_background
{
	background-color: #F0F2D7;
}
.footer_back
{
	background-color: #2A9F00;
	background-image: url(../images/bottom_footer.gif);
}
.tabbackground1
{
	background-image: url(../images/tab_back_black.gif);
	background-repeat: repeat-x;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.tablink
{
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.tablink:hover
{
	font-size: 11px;
	font-weight: bold;
	color: #9D9E48;
	text-decoration: none;
}

.tabbackground1:hover
{
	background-image: url(../images/tab_back_black.gif);
	background-repeat: repeat-x;
	font-size: 11px;
	font-weight: bold;
	color: #9D9E48;
	text-decoration: none;
}
.text2
{
	font-size: 12px;
	font-weight: bold;
	color: #006600;
}
.buttons
{
	margin-left:3px;
	margin-right:3px;
	background-image:url(../images/grip.gif);
	padding-top:4px;
	padding-bottom:5px;
	padding-left:8px;
	padding-right:8px;	
	font-size:11px;
	color:#ffffff;		
	font-weight:bold;
	height: 13px;	
	text-decoration: none;
	text-align:center;
}


.buttons1:hover
{
	font-size: 12px;
	color: #FFFFFF;
	background-color: #494949;
	text-align: center;
	height: 25px;
	border: 1px double #CCCCCC;	
}


.menu_title
{
	font-size: 13px;
	font-weight: bold;
	color: #F2F7A3;
	text-decoration: none;
	background-color: #3B7327;
}

.menu_link
{
	font-size: 11px;
	font-weight: bold;
	color: #404040;
	text-decoration: none;
}
.menu_link:hover
{
	font-size: 11px;
	font-weight: bold;
	color: #154D00;
	text-decoration: none;
}

.title_text
{
	font-size: 16px;
	font-weight: bold;
	color: #3B7327;
}
.link_option
{
	font-size: 11px;
	color: #666666;
	text-decoration: none;
}
.error
{
	font-size: 12px;
	color: Red;
}
.validationmsg
{
	font-size: 11px;
	color: Red;
	font-weight: bold;
}
.textareafont
{
	font-size: 10px;
	color: Black;
}
.textReadOnly
{
	font-size: 10px;
	background-color: Gray;
}
#loadingMessageContainer
{
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 30%;
}
#loadingMessage
{
	display: inline;
	font-size: 130%;
	font-weight: bold;
	color: #999;
}
#loadingMessage img
{
	vertical-align: text-top;
}
.blankrow
{
	height: 4px;
}
.toppadding
{
	padding-top: 10px;
}
.toppadding a
{
		margin-left:3px;
	margin-right:3px;
	background-image:url(../images/grip.gif);
	padding-top:4px;
	padding-bottom:5px;
	padding-left:8px;
	padding-right:8px;
	text-decoration:none;
	font-size:11px;
	color:#ffffff;	
	line-height:2.3;
	font-weight:bold;
}
.leftpadding
{
	padding-left: 15px;
}
.reqfield
{
	font-size: 15px;
	color: Red;
}
.imagepadding
{
	padding-left: 5px;
	padding-right: 5px;
}
.menuimgleft
{
	background-image: url(../images/tab_left_curve.gif);
	width: 7px;
	height: 24px;
	text-align: left;
	vertical-align: bottom;
}
.menuimgright
{
	background-image: url(../images/tab_right_curve.gif);
	width: 7px;
	height: 24px;
	text-align: right;
	vertical-align: bottom;
}
.subtitle
{
	/*background-color:Gray;  width:100%;  height:20px;  font-family: Arial, Helvetica, sans-serif;  font-size: 12px;  font-weight: bold;  color:Black;*/
	font-size: 13px;
	font-weight: bold;
	color: #592D00;
	background-color: #F0F2D7;
	height: 20px;
}
.selectedmenuimgleft
{
	background-image: url(../images/tab_left_curve_green.gif);
	width: 7px;
	height: 24px;
	text-align: left;
	vertical-align: bottom;
}
.selectedmenuimgright
{
	background-image: url(../images/tab_right_curve_green.gif);
	width: 7px;
	height: 24px;
	text-align: right;
	vertical-align: bottom;
}
.selectedtabbackground1
{
	background-image: url(../images/tab_back_green.gif);
	background-repeat: repeat-x;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.selectedtabbackground1:hover
{
	background-image: url(../images/tab_back_green.gif);
	background-repeat: repeat-x;
	font-size: 11px;
	font-weight: bold;
	color: #9D9E48;
	text-decoration: none;
}
.tabactivelink
{
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.tabactivelink:hover
{
	font-size: 11px;
	font-weight: bold;
	color: #494949;
}
.btnblue
{
	font-size: 11px;
	background-color: #5A65A5;
	letter-spacing: 1px;
	height: 23px;
	font-weight: bold;
	color: #FFFFFF;
	clip: rect(1px 1px 1px 1px);
	text-transform: uppercase;
	cursor: hand;
	padding: 2px;
	margin-right: 2px;
	margin-left: 2px;
	border-top: 1px solid #ededed;
	border-right: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	border-left: 1px solid #ededed;
}

.parentstages
{
	font-size: 13px;
	font-weight: bold;
	color: #592D00;
	height: 5px;
}
.childstages
{
	font-size: 12px;
	color: #000000;
	height: 3px;
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
}
.childstagestableborder
{
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
}
.trigger
{
	cursor: pointer;
	cursor: hand;
}

.triggerpage
{
	cursor:default;
}

.branch
{
	display: none;
	margin-left: 16px;
}
.checkboxgroup
{
	width:60%;
    font-size: 11px;
    background-color: #FFFFFF;
    border:1px solid #878787;
    height: 100px;
    overflow:auto;
}
.iconbackground {
	background-color: #FFFFFF;
}
.iconline {
	background-color: #999999;
}
/*Added by Maitreyee on 15th July to display error message above grid */
.griderror
{
	height: 15px;
	padding-left: 15px;
	font-size: 12px;
	color: Red;
}
/*Added by Maitreyee on 21st July to display error message in form */
.formerror
{
	height: 15px;
	font-size: 12px;
	color: Red;
}
.checkboxgroupCompany
{
	width:150px;
    font-size: 11px;
    background-color: #FFFFFF;
    border:1px solid #878787; 
    height :100px;   
    overflow:auto;
}

.CheckBoxGroupOption { display: block; }

.LinkDisabled
{
	color:Gray;
	text-decoration:underline;
	cursor:auto;
}

.btn 
{  margin-left:3px;
	margin-right:3px;
	background-image:url(../images/grip.gif);
	padding-top:4px;
	padding-bottom:5px;
	padding-left:8px;
	padding-right:8px;
	text-decoration:none;
	font-size:11px;
	color:#000000;	
   }
   
   .btnsmall
{  margin-left:3px;
	margin-right:3px;
	background-image:url(../images/grip.gif);
	padding-top:2px;
	padding-bottom:0px;
	padding-left:8px;
	padding-right:8px;
	text-decoration:none;
	font-size:9px;
	color:#000000;	
   }

.msgtd{width:25%; font-weight:bold ;}
.msgBorder{border-width:medium; border-color:Black;}

/* Added by Ashish Rajguru on 24/10/2009 */
.rptagent_div 
{
	 overflow:hidden;
}	 
	 
	 body.ForgtPwd { background-image:  url(../images/clear.gif)}
	 
	 .btnblue {
	font-size: 11px;
	background-color: #5A65A5;
	letter-spacing: 1px;
	height: 23px;
	font-weight: bold;
	color: #FFFFFF;
	clip:  rect(1px 1px 1px 1px);
	text-transform: uppercase;
	cursor: hand;
	padding: 2px;
	margin-right: 2px;
	margin-left: 2px;
	border-top: 1px solid #ededed;
	border-right: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	border-left: 1px solid #ededed;
	}
	
.odd
{
	background-color: white;
}

.even
{
	background-color:  #F5F9F2;
}

.tableHeader
{
	background-image: url(../Images/columnHeaderBackground.png);
	background-repeat: repeat-x;
	background-position: top left;
	background-color: #EDEDED;
	table-layout: fixed;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.divNotification
{
	font-size:20;
	font-weight:bold;
	vertical-align:middle;
	padding-left:3px;
	padding-top:5px;
}

.notification
{
	font-size:20;
	font-weight:bold;
}

.tableStyle
{
	font-size : 10pt;
	
}

.divCounter
{
	height:10%;
	width:60%;
	background-color: #2A9F00;
	background-image: url(../images/bottom_footer.gif);	
}

.divOuterCounter
{
	width:70%;
	background-color: White;
}

.displayLargeText
{
	font-size:15px;
	font-weight:bold;
}

.displayMediumText
{
	font-size:12px;
}
.dynamicSpan
{
	padding-left:50px;
}
.divOrderCounter
{
	height:10px;	
	background-color: #3B7327;
	float:left;
	
}

.linkicon
{
	margin-top:-15px;
	margin-left:20px;
}



.pagerstyle{
    color:#444444;
    background-color:#e5e5e5;
    font-size:x-small;
    text-align:right;
    
} 
.pagerstyle select{
    font-size:x-small;
}  
.previous{
    background:transparent url(../Images/Icon/resultset_previous.png) no-repeat scroll center;
    height:1.3em;
    width:16px;
}
.next{
    background:transparent url(../Images/Icon/resultset_next.png) no-repeat scroll center;
    height:1.3em;
    width:16px;
}  
.gotopage{
    font-size:x-small;
    width:20px;
}

.border-right
{
	border-right: silver 1px solid; 
}

.border-left
{
	border-left: silver 1px solid; 
}

.border-top
{
	border-top: silver 1px solid; 
}

.border-bottom
{
	border-bottom: silver 1px solid; 
}

/* tooltip styling */
.tooltip {
	display:none;
	background-color:#F0F0F0;
	padding:10px 10px 10px 10px;
	
	font-size:11px;
	color:#000000;
	overflow:hidden;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
     border-radius: 5px;
     border:solid 1px #8B8D91;
     z-index:1000;
     text-align:justify;
}


.popup_block{
	background: #f1fff1;
	padding: 10px;
	border: 10px solid #185A00;
	float: left;
	position: fixed;
	z-index: 99999;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	/*--CSS3 Rounded Corners--*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-khtml-border-radius: 10px;
	-khtml-box-shadow: 10px;
}
.btn_close {
	float: right;
	margin: -10px -0px 0 0;
	z-index: 99999;
}

.divProg
{
	z-index:100000; 
	position:absolute;
	font-size:15px;
	color:#185A00;
	padding:10px;
	font-weight:bold;
	background: #f1fff1;
	border: 5px solid #185A00;
	-webkit-box-shadow: 0px 0px 10px #000;
	-moz-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
	/*--CSS3 Rounded Corners--*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-khtml-border-radius: 5px;
	-khtml-box-shadow: 5px;
}