﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="neworder.aspx.cs" Inherits="sparrowFeApp.shop.neworder" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <iframe id="iframeNewOrder" src="http://192.168.1.250:8008/accounts/signin/?next=/b/iframe_index/#/create_project/?sessionId=910127e4-b5c5-4813-8e05-8cd0a8990f4f&output=embed" runat="server"></iframe>
        </div>
    </form>
</body>
</html>
