﻿
.brick
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #0084AF;
    border-radius: 3px; /*  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);*/
    cursor: pointer; /* margin-top: 20px;*/
    padding: 0 1px 10px 0;
    position: relative;
    text-align: center;
    width: 165px !important;
    height: 155px !important;
    -webkit-box-shadow: 0 1px 0 4px #8ECADD;
    -moz-box-shadow: 0 1px 0 4px #8ECADD;
    box-shadow: 0 1px 0 4px #8ECADD; /*  box-shadow: 0 1px 0 4px #8ECADD;*/
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#8ECADD,direction=0,strength=1), 
    progid:DXImageTransform.Microsoft.Shadow(color=#8ECADD,direction=45,strength=1), 
    progid:DXImageTransform.Microsoft.Shadow(color=#8ECADD,direction=90,strength=2), 
    progid:DXImageTransform.Microsoft.Shadow(color=#8ECADD,direction=135,strength=3), 
    progid:DXImageTransform.Microsoft.Shadow(color=#8ECADD,direction=180,strength=7), 
    progid:DXImageTransform.Microsoft.Shadow(color=#8ECADD,direction=225,strength=3), 
    progid:DXImageTransform.Microsoft.Shadow(color=#8ECADD,direction=270,strength=2), 
    progid:DXImageTransform.Microsoft.Shadow(color=#8ECADD,direction=315,strength=1);
}

body:last-child .brick
{
    /* Remove filter from IE9 */
    filter: none;
}

.masonry .brick img.block
{
    border-radius: 4px 4px 0 0 width: 300px;
}

.brick img.block /* add by ankita*/
{
    border-radius: 2px 2px 1px 1px ;
    width: 166px;
}
.brick:hover
{
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=0,strength=1),
     progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=45,strength=1), 
     progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=90,strength=2), 
     progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=135,strength=3), 
     progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=180,strength=7), 
     progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=225,strength=3), 
     progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=270,strength=2), 
     progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=315,strength=1);
    -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
}
.hovereffect
{
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#2a9d00,direction=0,strength=1),
     progid:DXImageTransform.Microsoft.Shadow(color=#2a9d00,direction=45,strength=1), 
     progid:DXImageTransform.Microsoft.Shadow(color=#2a9d00,direction=90,strength=2), 
     progid:DXImageTransform.Microsoft.Shadow(color=#2a9d00,direction=135,strength=3), 
     progid:DXImageTransform.Microsoft.Shadow(color=#2a9d00,direction=180,strength=7), 
     progid:DXImageTransform.Microsoft.Shadow(color=#2a9d00,direction=225,strength=3), 
     progid:DXImageTransform.Microsoft.Shadow(color=#2a9d00,direction=270,strength=2), 
     progid:DXImageTransform.Microsoft.Shadow(color=#2a9d00,direction=315,strength=1);
    -webkit-box-shadow: 0 1px 0 4px #2a9d00;
    -moz-box-shadow: 0 1px 0 4px #2a9d00;
    box-shadow: 0 1px 0 4px #2a9d00;
}
.hovereffecteps
{
    filter: progid:DXImageTransform.Microsoft.Shadow(color=orange,direction=0,strength=1),
     progid:DXImageTransform.Microsoft.Shadow(color=orange,direction=45,strength=1), 
     progid:DXImageTransform.Microsoft.Shadow(color=orange,direction=90,strength=2), 
     progid:DXImageTransform.Microsoft.Shadow(color=orange,direction=135,strength=3), 
     progid:DXImageTransform.Microsoft.Shadow(color=orange,direction=180,strength=7), 
     progid:DXImageTransform.Microsoft.Shadow(color=orange,direction=225,strength=3), 
     progid:DXImageTransform.Microsoft.Shadow(color=orange,direction=270,strength=2), 
     progid:DXImageTransform.Microsoft.Shadow(color=orange,direction=315,strength=1);
    -webkit-box-shadow: 0 1px 0 4px orange;
    -moz-box-shadow: 0 1px 0 4px orange;
    box-shadow: 0 1px 0 4px orange;
}



.diamond1
{
    background-image: url("newimages/pngs/1.png");
    height: 47px; /*    margin-top: -29px\8;*/
    margin: -24px auto 0;
    position: relative;
    width: 51px;
}



.diamond2
{
    background-image: url("newimages/pngs/2.png");
    height: 47px;
    margin: -24px auto 0;
    position: relative;
    width: 51px;
}
.diamond3
{
    background-image: url("newimages/pngs/3.png");
    height: 47px;
    margin: -24px auto 0;
    position: relative;
    width: 51px;
}
.diamond4
{
    background-image: url("newimages/pngs/4.png");
    height: 47px;
    margin: -24px auto 0;
    position: relative;
    width: 51px;
}
.diamond5
{
    background-image: url("newimages/pngs/5.png");
    height: 47px;
    margin: -24px auto 0;
    position: relative;
    width: 51px;
}

.dropdown ul
{
    display: none !important;
}
.open ul
{
    display: block !important;
}
.footeracolor
{
    color: #959595;
    font-size: 12px;
}
#firstbottommenu a:hover
{
    color: #E26B1D !important;
    text-decoration: none;
}
#secondbottommenu a:hover
{
    color: #E26B1D !important;
    text-decoration: none;
}
#thirdbottommenu a:hover
{
    color: #E26B1D !important;
    text-decoration: none;
}
#flagmenu a:hover
{
    color: #E26B1D !important;
    text-decoration: none;
}
#cols
{
    padding-bottom: 30px;
}
#cols:before, #cols:after
{
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
}
#cols:after
{
    clear: both;
}
#cols
{
}
#cols .col_large
{
    float: left;
    margin-right: 30px;
    width: 1190px;
}
#cols .col_large:before, #cols .col_large:after
{
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
}
#cols .col_small
{
    float: left;
    font-size: 12px;
    line-height: 16px;
    width: 300px;
}
.featured_list_header
{
    margin-bottom: 20px;
}
.featured_list
{
    margin-bottom: 30px;
}
.featured_list li
{
    background: none repeat scroll 0 0 #FBFBFC;
    border: 1px dotted #D3D3D3 !important;
    margin: 0;
    overflow: hidden;
    padding-left: 18px;
    padding-right: 18px;
}
.featured_list li + li
{
    margin-top: 20px;
}
.featured_list li .toggle
{
    color: #E1E2E3 !important;
    display: block;
    float: right;
    font-weight: 700 !important;
    margin-left: 10px;
}
.featured_list li.toggler
{
    cursor: pointer;
}
.featured_list li.toggler.active
{
    background: none repeat scroll 0 0 #FBFBFC !important;
}
.featured_list li.toggler:hover
{
    background: none repeat scroll 0 0 #F4F5F7;
}
.featured_list li.toggler:hover .toggle
{
    color: #666666 !important;
    display: block;
}
.featured_list li h3 span
{
    color: #7B8084;
    font-weight: 400;
}
.featured_list li img.insert
{
    border: 10px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    display: block;
    float: right;
    margin: 0 0 15px 15px;
}
.featured_list li li
{
    background: inherit;
    border: medium none !important;
    margin: 0 0 5px;
    padding: 0;
}
.featured_list li .styled li
{
    overflow: visible;
}
.featured_list li .go
{
    font-size: 10px;
}
.col_small .people li + li
{
    margin-top: 0;
}
.col_small .block img.insert
{
    display: block;
    float: right;
    margin: 0 0 15px 15px;
}
.col_small .block .who_what
{
    float: right;
    height: 65px;
    position: relative;
    width: 65px;
}
.anchor1slider
{
    background-color: #7C4197;
    border-radius: 3px 3px 3px 3px;
    border-width: 5px;
    color: #FFFFFF !important;
    line-height: 51px;
    padding: 8px 23px;
    text-decoration: none !important;
    width: 160px !important;
}
.mainlevel
{
    padding: 5px !important;
}
.anchor1slider:hover
{
    color: #FFFFFF;
    text-decoration: none;
}
.anchor2slider
{
    background-color: #21B15A;
    border-radius: 3px 3px 3px 3px;
    border-width: 5px;
    color: #FFFFFF !important;
    line-height: 73px;
    padding: 8px 23px;
    text-decoration: none !important;
    width: 160px !important;
}
.anchor2slider:hover
{
    color: #FFFFFF;
    text-decoration: none;
}
.anchor3slider
{
    background-color: #D31F43;
    border-radius: 3px 3px 3px 3px;
    border-width: 5px;
    color: #FFFFFF !important;
    line-height: 123px;
    padding: 8px 23px;
    text-decoration: none !important;
    width: 160px !important;
}
.anchor3slider:hover
{
    color: #FFFFFF;
    text-decoration: none;
}
.fs-sp1-morein *:hover
{
    text-decoration: none !important;
}
.socialbuttons
{
    background: url("../images/sprite.png") no-repeat scroll 0 0 transparent;
    color: black;
    display: block;
    height: 32px;
    overflow: hidden;
    text-indent: -100px;
    width: 32px;
}
.arrow:after
{
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px;
}
.mainlevel
{
    color: #959595;
    font-size: 12px;
}
.last-item
{
    border-bottom: 1px solid #DDDDDD;
}
#fs-sp1-30
{
    height: 248px;
    width: 1150px !important;
}
.mainlevel
{
    padding: 4px;
}
#searchphraseall
{
    display: inline-block !important;
    width: 24px;
}
#searchphraseany
{
    display: inline-block;
    width: 24px;
}
#searchphraseexact
{
    display: inline-block;
    width: 24px;
}
#area_sections
{
    width: 33px;
}
#area_content
{
    width: 33px;
}
#area_weblinks
{
    width: 33px;
}
#area_contacts
{
    width: 33px;
}
#area_categories
{
    width: 33px;
}
#area_newsfeeds
{
    width: 33px;
}
